<script>
  document.addEventListener('click', (e) => {
      document.querySelector('body').classList.add('aside-mini');
  });
  document.querySelector('.hambergBtn').addEventListener('click', (e) => {
      e.stopPropagation();
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js"
    integrity="sha512-JWQFV6OCC2o2x8x46YrEeFEQtzoNV++r9im8O8stv91YwHNykzIS2TbvAlFdeH0GVlpnyd79W0ZGmffcRi++Bw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<footer class="main-footer font-xs">
  <!-- <div class="row pb-30 pt-15">
    <div class="col-sm-6">
      <script>
        document.write(new Date().getFullYear());
      </script>
      &copy; 
    </div>
  </div> -->
</footer>
