<script>
  document.addEventListener('click', (e) => {
      document.querySelector('body').classList.add('aside-mini');
  });
  document.querySelector('.hambergBtn').addEventListener('click', (e) => {
      e.stopPropagation();
  });
</script>


<footer class="main-footer font-xs">
  <!-- <div class="row pb-30 pt-15">
    <div class="col-sm-6">
      <script>
        document.write(new Date().getFullYear());
      </script>
      &copy; 
    </div>
  </div> -->
</footer>
