<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NICHE Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
    
    />
    <!-- Template CSS -->
    <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
        <a href="/dashboard" class="brand-wrap">
          <img src="/img/icon.jpg" class="logo" alt="Nest Dashboard" />
        </a>
        <div class="hambergBtn">
          <button class="btn btn-icon btn-aside-minimize">
            <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
      </div>
      <nav>
        <ul class="menu-aside">
          <li>
            <a class="menu-link" href="/dashboard">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="menu-link" href="/products">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
            </a>
          </li>

          <li>
            <a class="menu-link" href="/category">
              <i class="icon material-icons md-store"></i>
              <span class="text">Categories</span>
            </a>
          </li>
          <li>
            <a class="menu-link" href="/users">
              <i class="icon material-icons md-person"></i>
              <span class="text">Users</span>
            </a>
          </li>
        </ul>

        <hr />
        <ul class="menu-aside">
          <li class="menu-item has-submenu">
            <a class="menu-link" href="#">
              <i class="icon material-icons md-chevron_right"></i>
              <span class="text">Logout</span>
            </a>
          </li>
        </ul>
        <br />
        <br />
      </nav>
    </aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">
          <form class="searchform">
            <div class="input-group">
              <input
                list="search_terms"
                type="text"
                class="form-control"
                placeholder="Search term"
              />
              <button class="btn btn-light bg" type="button">
                <i class="material-icons md-search"></i>
              </button>
            </div>
            <datalist id="search_terms">
              <option value="Products"></option>
              <option value="New orders"></option>
              <option value="Apple iphone"></option>
              <option value="Ahmed Hassan"></option>
            </datalist>
          </form>
        </div>
        <div class="col-nav">
          <button
            class="btn btn-icon btn-mobile me-auto"
            data-trigger="#offcanvas_aside"
          >
            <i class="material-icons md-apps"></i>
          </button>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link btn-icon darkmode" href="#">
                <i class="material-icons md-nights_stay"></i>
              </a>
            </li>
            <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownAccount"
                aria-expanded="false"
              >
                <img
                  class="img-xs rounded-circle"
                  src="/img/people/avatar-2.png"
                  alt="User"
              /></a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownAccount"
              >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-perm_identity"></i>Edit
                  Profile</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-settings"></i>Account Settings</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-account_balance_wallet"></i
                  >Wallet</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-receipt"></i>Billing</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-help_outline"></i>Help center</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"
                  ><i class="material-icons md-exit_to_app"></i>Logout</a
                >
              </div>
            </li>
          </ul>
        </div>
      </header>
    </main>
  </body>
</html>