@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:wght@400;500&display=swap');

.display-none {
  @apply hidden !important
}

.hashtag {
  @apply bg-gray-200 rounded-full inline-flex items-center px-2 py-1 hover:bg-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 transition-all duration-300 ease-in-out
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pulse {
  animation: pulse 0.5s;
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__flipInY {
  animation-name: flipInY;
}

.font-Roboto {
  font-family: 'Roboto', sans-serif;
}

body {
  transition: background-color 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}