<%- include('include/_header') %>

            <section class="content-main">
                <div class="row">
                    <div class="row-auto">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>

                        </div>
                    </div>
                    <div class="row-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Product Details</h4>

                            </div>
                            <div>
                                <h2 class="text-danger" id="errorContainer">

                                </h2>
                            </div>
                            <!-- <div class="bg-danger position-relative z-10 top-5 py-1.5 px-3 rounded-lg text-white d-none"
                                        id="errorpopup">
                                    </div> -->
                            <div class="card-body">
                                <form action="/addproduct" id="addProductForm" method="post">

                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        <input type="text" placeholder="Type here" name="productname"
                                            class="form-control" id="productname">
                                        <div>
                                            <h2 class="text-danger" id="errorName">

                                            </h2>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" name="description" class="form-control"
                                            rows="4" id="description"></textarea>
                                        <div>
                                            <h2 class="text-danger" id="errorDescription">

                                            </h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4" style="width: 50%;">
                                            <div class="mb-4">
                                                <label class="form-label">Price</label>
                                                <div class="row gx-2">
                                                    <input placeholder="₹" name="price" type="number"
                                                        class="form-control" id="price" />
                                                    <div>
                                                        <h2 class="text-danger" id="errorPrice">

                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="width: 50%;">
                                            <div class="mb-4">
                                                <label class="form-label">Stock</label>
                                                <div class="row gx-2">
                                                    <input placeholder="0" type="number" name="stock"
                                                        class="form-control" id="stock" />
                                                    <div>
                                                        <h2 class="text-danger" id="errorStock">

                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-lg-2">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <h4>Media</h4>
                                            </div>
                                            <div class="card-body">

                                                <div class=" mb-4">
                                                    <label class="form-label">Upload Images: </label>
                                                    <div>
                                                        <h2 class="text-danger" id="errorImage">

                                                        </h2>
                                                    </div>
                                                    <input name="images" class="form-control" type="file" id="Image"
                                                        multiple />

                                                </div>


                                            </div>

                                            <div class="card mb-4">
                                                <div class="card-header">
                                                    <h4>Category</h4>
                                                </div>
                                                <div class="card-body">
                                                    <select class="form-select" name="category" id="category">
                                                        <% for (let i of category) { %>
                                                            <option value="<%= i._id %>">
                                                                <%= i.name %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                                <div>
                                                    <h2 class="text-danger" id="errorCategory">

                                                    </h2>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="justify-content-center">

                                            <button class="btn btn-md rounded font-sm hover-up submit" type="submit">Add
                                                Product</button>
                                        </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <!-- card end// -->

                </div>
                </div>
            </section>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
            integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>

                document.querySelector('.submit').addEventListener('click', () => {
                    document.querySelector('#form').submit();
                    console.log("12345");
                });

                // JavaScript for custom validation
                document.getElementById('addProductForm').addEventListener('submit', function (event) {
                    var form = event.target;

                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                });



                const addProductForm = document.getElementById("addProductForm");
                const productname = document.getElementById("productname");
                const description = document.getElementById("description");
                const price = document.getElementById("price");
                const stock = document.getElementById("stock");
                const category = document.getElementById("category");
                const Image = document.getElementById("Image");
                


                addProductForm.addEventListener("submit", async (e) => {
                    e.preventDefault();

                    let ImageArr = []
                    for (let i = 0; i < Image.files.length; i++) {
                        ImageArr[i] = await convertBase64(Image.files[i]);
                    }

                    axios
                        .post("/addproduct", {
                            name: productname.value,
                            description: description.value,
                            price: price.value,
                            stock: stock.value,
                            category: category.value,
                            imgArr: ImageArr
                        })

                        .then(({ data }) => {
                            if (data) {
                                Swal.fire("Product Added", "Click the button", "success").then(
                                    () => {
                                        window.location.reload();
                                    }
                                );
                            }
                            // let errorModal = document.getElementById('errorpopup')
                            // errorModal.innerText = data.data.message
                            // errorModal.classList.remove('d-none')
                            // if (data.data.message == "Product Added") {
                            //     errorModal.classList.add('d-none')
                            // }
                        })
                        .catch((error) => {
                            // if (error?.response?.data?.errStatus) {
                            //     let errorModal = document.getElementById('errorpopup')
                            //     errorModal.innerText = error.response.data.message
                            //     return errorModal.classList.remove('d-none')
                            //     if (error.response.data.message == "Product Added") {
                            //         errorModal.classList.add('d-none')
                            //     }
                            // }
                            console.log(error);
                        })



                });

                function convertBase64(file) {
                    return new Promise((resolve, reject) => {
                        const fileReader = new FileReader();
                        fileReader.readAsDataURL(file);
                        fileReader.onload = () => {
                            resolve(fileReader.result);
                        };
                        fileReader.onerror = (error) => {
                            reject(error);
                        };
                    });
                }



                document.getElementById('addProductForm').addEventListener('submit', function (event) {
                    const errorContainer = document.getElementById('errorContainer');
                    const errorName = document.getElementById('errorName');
                    const errorDescription = document.getElementById('errorDescription');
                    const errorPrice = document.getElementById('errorPrice');
                    const errorStock = document.getElementById('errorStock');
                    const errorImage = document.getElementById('errorImage');
                    const errorCategory = document.getElementById('errorCategory');
                    errorContainer.innerHTML = '';
                    errorName.innerHTML = '';
                    errorDescription.innerHTML = '';
                    errorPrice.innerHTML = '';
                    errorStock.innerHTML = '';
                    errorImage.innerHTML = '';
                    errorCategory.innerHTML = '';

                    // Validate form fields (You can also use HTML5 validation attributes)
                    const name = productname.value;
                    const desc = description.value;
                    const pricevalue = price.value;
                    const stockvalue = stock.value;
                    const cat = category.value;
                    const images = Image.value;


                    if (!name || !desc || !pricevalue || !stockvalue || !cat || !images) {

                        errorContainer.innerHTML = '<p>All fields are required</p>';
                        event.preventDefault();
                    }

                    if (!name) {
                        errorName.innerHTML = '<p>Product Name is required</p>';
                        event.preventDefault();
                    }

                    if (!desc) {
                        errorDescription.innerHTML = '<p>Description is required</p>';
                        event.preventDefault();
                    }

                    if (!pricevalue) {
                        errorPrice.innerHTML = '<p>Price is required</p>';
                        event.preventDefault();
                    }

                    if (!stockvalue) {
                        errorStock.innerHTML = '<p>Stock is required</p>';
                        event.preventDefault();
                    }

                    if (!cat) {
                        errorCategory.innerHTML = '<p>Category is required</p>';
                        event.preventDefault();
                    }

                    if (!images) {
                        errorImage.innerHTML = '<p>Image is required</p>';
                        event.preventDefault();
                    }

                });



            </script>


            <%- include('include/_footer') %>