<%- include('include/_header') %>
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">Sellers list</h2>
                    <div>
                        <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Seller</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Registered</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-1.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Eleanor Pena</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>eleanor2020@example.com</td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-2.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Mary Monasa</h6>
                                                    <small class="text-muted">Seller ID: #129</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>monalisa@example.com</td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td>11.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-3.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Jonatan Ive</h6>
                                                    <small class="text-muted">Seller ID: #400</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>mrjohn@example.com</td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-4.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Eleanor Pena</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>eleanor2020@example.com</td>
                                        <td><span class="badge rounded-pill alert-danger">Inactive</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-1.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Albert Pushkin</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>someone@mymail.com</td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td>20.11.2019</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-2.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Alexandra Pena</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>eleanor2020@example.com</td>
                                        <td><span class="badge rounded-pill alert-danger">Inactive</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-3.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Eleanor Pena</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>eleanor2020@example.com</td>
                                        <td><span class="badge rounded-pill alert-danger">Inactive</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-4.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Alex Pushkina</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>alex@gmail.org</td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-1.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Eleanor Pena</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>eleanor2020@example.com</td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/img/people/avatar-2.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">Eleanor Pena</h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>eleanor2020@example.com</td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td>08.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/select2.min.js"></script>
        <script src="/js/vendors/perfect-scrollbar.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
